    html{
        background-color: #f5f5f5;
    }

    body{
        background-color: chocolate;
        max-width: 540px;
        margin: auto;
        padding-top: 1px;
    }
    h1{
        text-align:  center;
        font-size: 35px;
        color: white;
    }
    .qui-header{
        background-color: darkcyan;
        height: 50px;
    }
    .plcRouteList{
        background-color: white;
    }

    .pic{
        border-radius: 50%;
    }

    .title{
        position: absolute;
        font-size: 18px;
        font-weight: bolder;
        color: white;
        white-space: nowrap;
        top: 5px;
        left: 50px;
        line-height: 40px;
        /*border: 1px solid black;*/
    }

    .notitle{
        position: absolute;
        font-size: 18px;
        font-weight: bolder;
        color: white;
        white-space: nowrap;
        top: 5px;
        left: 50px;
        line-height: 40px;
        /*border: 1px solid black;*/
    }

    .bottom{
        position: absolute;
        top: 340px;
        left: 470px;
    }
    .nobottom{
        position: absolute;
        top: 650px;
        left: 470px;
    }

    .face{
        float: left;
        border: 1px solid black;
        border-radius: 50%;
        width: 39px;
        height: 39px;
        left: 200px;
        /*color: white;*/
    }

    .noface{
        float: left;
        border: 2px solid black;
        border-radius: 50%;
        width: 39px;
        height: 39px;
        left: 200px;
        top: 680px;
        /*color: white;*/
    }

    .day{
        position: absolute;
        background-color: green;
        top: 100px;
        left: 930px;
        border-radius: 50%;
        color:red;
        text-align: center;
        line-height: 35px;
    }

    .noday{
        position: absolute;
        background-color: green;
        top: 450px;
        left: 930px;
        border-radius: 50%;
        color:red;
        text-align: center;
        line-height: 35px;
    }


    .em{
        font-style: normal;
        font-weight: bolder;      
    }

    .span{
        margin-left: 100px;
    }

    .qui-aside{
        position: absolute;
        top: 0px;
        left: 285px;
        height: 818px;
        width: 150px;
        border: 2px black;
        background-color: #2d3741;        
    }

    .nav-aside{
        padding: 20px 20px;

    }

    ul{
        list-style: none;
    }
    .nav-aside a{
        font-size: 16px;
        color:#ced1d5;
        line-height: 35px;
        text-decoration: none;
        display: block;
    }

    .nav-aside a:hover{
        color: white;
        background-color: #2bab79;
    }

    .qui-footer{
        /*border: 1px solid black;*/
        line-height: 50px;
        text-align: center;
        height: 50px;
        background-color: burlywood;
    }

    .qui-footer span{
        margin-left: 20px;
    }

    .qui-footer a{
        text-decoration: none;
        line-height: 50px;
        color: #444;
        font-size: 5px;
    }